{% extends "Todo/base.html" %}
{% load static%}

{% block content %}
{% if item %}
<div class="row mt-4">
    <div class="col-lg-6 col-lg-offset-3 mt-4">
        <form method="POST" class="form-inline">
            {% csrf_token%}
            <input type="text" name="content" class="form-control mb-2 mr-sm-2" placeholder={{item.text}}
                   value={{item.text}}>
            <button type="submit" class="btn btn-primary mb-2">Update</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}