{% extends "Todo/base.html" %}
{% load static%}

{% block content %}

<div class="row mt-4">
    <div class="col-lg-6 col-lg-offset-3 mt-4">
        <form action="add_todo/" method="post" class="form-inline">
            {% csrf_token%}
            <input type="text" name="content" class="form-control mb-2 mr-sm-2" placeholder="Create a new todo...">
            <button type="submit" class="btn btn-primary mb-2">Add Task</button>
        </form>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <ul class="list-group list-group-flush">
            {% for todo_item in todo_items %}
            <li class="list-group-item list-group-item-action list-group-item-light">
                {{ todo_item.text }}
                <a href="delete_todo/{{todo_item.id}}/" class="btn btn-danger float-right">Delete </a>
                <a href="edit/{{todo_item.id}}/" class="btn btn-warning float-right mr-sm-2">Edit </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}
